.header {
  background-color: @nav-bg;
  width:100%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  position: relative;
  z-index:10;
  overflow:hidden;

  .clearfix(); 
  @media (min-width: @breakpoint-tablet) {
      height:@header-height;
      white-space: nowrap;
  }

}
.logo {
  display: inline-block;
  background: @brand-primary;
  height: @header-height;
  width:100%;
  text-align:center;
  font-size: 12px; 
  font-weight:700;
  color: @text-color;
  line-height:@header-height; 
  @media (min-width: @breakpoint-tablet) {
    text-align:left;
    width:@nav-width;
    padding-left:10px;
  } 
  @media (min-width: @breakpoint-desktop) {
  padding-left:20px;
  }

  a {
  color: @text-color;
  }
}
.main {
  position: fixed;
  left:0;
  width:100%;
  height:100%;
  padding: 5px;
  overflow-y: scroll;
  
  @media (min-width: @breakpoint-tablet) {
    left:@nav-width;
    width: (100% - @nav-width);
  }
}
.shadow {
  display:block;
  width:100%;
  height:0;
  position: fixed;
  bottom:0;
  left:0;
  z-index:10;
  box-shadow: 0px -10px 40px 20px rgba(0,0,0,0.20);
  
  @media (min-width: @breakpoint-tablet) {
    left:@nav-width;
    width: (100% - @nav-width);
  }
}
.grid {
  position: relative;
}

.cell,
.grid-sizer {
  float:left;
  width:50%;
  @media (max-width: @breakpoint-mobile) {
    width:100%;
  }
  @media (min-width: @breakpoint-tablet) {
    width:33%; 
  }
  @media (min-width: @breakpoint-desktop) {
    width:33%;
  }
  @media (min-width: @breakpoint-wide) {
    width:25%;
  }
}

.item {
  padding:10px;
  background-color: @nav-bg;
  margin:10px;
  .transition(background-color 0.3s ease-in-out);
  &:hover {
    background-color: lighten(@nav-bg, 2%); 
  }
}
.item-type {
  font-size:10px;
  text-transform: uppercase;
  margin:0;
  color: @link-color;
}
.item-title h3 {
  font-size: 22px;
  color: @text-color;
  line-height: 1;
  .transition(color 0.3s ease-in-out);
  &:hover {
    color: @link-color;
  }
}
.item-urls {
  margin-top:20px;
}
.item-urls li {
  display:inline;
  padding-right:10px;
}
.item-urls a {
  font-size:24px;
}
.item-tags li {
  display:inline;
  padding-right:5px;
  font-size:10px;
  color: @text-meta-color;
  text-transform: uppercase;
}
.meta {
  text-align: center;
  margin-top:20px;
  @media (min-width: @breakpoint-tablet) {
    position: absolute;
    padding:0px 5px 10px 20px;
    width:100%;
    bottom:0;
    left:0;
    margin:0;
    text-align:left;
  }
  
  p {
    font-size:10px;
    text-transform: uppercase;
    color: @text-meta-color;
  }
  a {
   color: @text-meta-color;
 }
 li {
  display:inline-block;
  margin-right:5px;
  overflow:hidden;
  &.twitter {
    max-width:80px;
  }
  &.github {
    width:75px;
  }
}
}

.about {
  position: absolute;
  width:100%;
  height:100%;
  background: fade(@body-bg,90%);
  z-index:100;
  top:0;
  left:0;
  opacity:0;
  visibility: hidden;
  .transition(opacity 0.3s ease-in-out);

  .close {
    position: absolute;
    top:20px;
    right:20px;
  }

  .modal {
    width:90%;
    position: fixed;
    padding:20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: @nav-bg;
    @media (min-width: @breakpoint-tablet) {
      width:auto;
    }

    p {
      color: @link-color;
      &:last-of-type {
        margin-bottom:0;
      }
    }

    a {
      color:@text-color;
      &:hover {
        color:@link-color;
      }
    }



    h4 {
      margin-top:0;
    }
  }
}

.modal-opened {
  opacity:1;
  visibility: visible;
}
