.nav-main { 
  background: @nav-bg; 
  left:-@nav-width;
  overflow: hidden;
  z-index:11;
  position: absolute;
  visibility: hidden;
  top:@header-height;
  width: 100%;
  height:100%;
  transform: translateX(0);
  opacity:1;
  z-index:11;
  overflow-y: scroll;
  .transition(0.2s ease-in-out); 
  transform: translateX(-50%);
  opacity:0;
  nav {
    text-align: center;
  }
  a {
    padding-left:0;
  } 
  @media (min-width: @breakpoint-tablet) {
    position: fixed;
    visibility: visible;
    left:0;
    overflow-y: hidden;
    width: @nav-width; 
    opacity:1;
    transform: translateX(0); 
    nav {
      text-align: left;
      a {
        padding-left:10px;
      } 
    }

  }

 @media (min-width: @breakpoint-desktop) {
    nav a {
      padding-left:20px;
    }
 }
}
.nav-opened {
  .nav-main {
    @media (max-width: @breakpoint-tablet) {
      position: absolute;
      visibility: visible;
      left:0;
      width: 100%;
      height:100% !important;
      transform: translateX(0);
      opacity:1;
      
    }
  }
}
.nav-main nav {
  li {
    line-height: @header-height;
  }
  a {
    display:block;
    width:100%;

    &:hover {
      background-color: @nav-hover; 
    }
    &.active {
      background-color: @nav-active; 
      color: @text-color;
    }
  } 

  .search-results {
    line-height: 20px;
    padding-left:0;
    font-size:12px;
    color: @link-color;
    font-size:11px;
     @media (min-width: @breakpoint-tablet) {
      padding-left:10px;
     }
    @media (min-width: @breakpoint-desktop) {
      padding-left:20px;
    } 

    span {
      display:none;
      &.show {
        display:inline;
      }
    }
  }
}


.search-input {
  padding:0 20px;
  height:30px;
  display:inline-block;
  width:250px;
  line-height:30px;
  @media (min-width: @breakpoint-tablet) {
    width:100%;
    padding:0 10px;
    height:@header-height;
    line-height: @header-height;
    &.active {
      background-color: @nav-active; 
      color: @text-color;
    }
  }

  @media (min-width: @breakpoint-desktop) {
    padding:0 20px;
  }
    




  .fa {
   display:inline-block;
   position: relative;
   top:1px;
   float:left;
   height:30px;
   width:15%;
   line-height:30px;
   text-align: right;
   border-radius:15px 0 0 15px;
   background: @nav-hover;  
   color: @link-color; 
   @media (min-width: @breakpoint-tablet) {
    background: transparent;
    line-height: @header-height;
    height:@header-height;
    text-align: left;
    width:5%;
   }
 }
 input {
  display:inline-block;
  margin:0;
  position: relative;
  bottom:-1px;
  line-height: @header-height;
  width:85%;
  height:30px; 
  border:0;
  line-height:30px;
  padding:0 10px;
  border-radius:0 15px 15px 0;  
  background: @nav-hover;
  &:focus {
    outline:none;
  }
  @media (min-width: @breakpoint-tablet) {
    background: transparent;
    height:@header-height;
  }
    &::-webkit-input-placeholder { font-size:12px; }
    &::-moz-placeholder { font-size:12px; } 
    &:-ms-input-placeholder { font-size:12px;}
    &:-moz-placeholder { font-size:12px; }
}
}
.nav-filters {
  display:block;
  width:100%;
  float:left;
  text-align:center;
  @media (min-width: @breakpoint-tablet) {
    width:auto;
    text-align: left;
  }
  ul {
    padding-left:0;
    @media (min-width: @breakpoint-tablet) {
      padding-left:20px;
    }
  }
  li {
    display:inline-block;
    margin-right:2px;
    line-height: @header-height;
  }
  a {
    padding: 3px 15px 4px;
    font-size:11px;
    border-radius: @border-radius-base;
    &:hover {
      background-color: @nav-hover;
    }
    &.active {
      background-color: @nav-active;
      border-radius: @border-radius-base;
      color: @text-color;
    }
  }

  &.hide {
    display:none;
  }
}

.nav-mobile {
  position: absolute;
  top:0;
  left:0;
  display: block;
  width: @header-height;
  height: @header-height;
  float:left;
  background: @brand-primary;
  @media (min-width: @breakpoint-tablet) {
    display:none;
  }
}
.nav-mobile span {
  margin: 0 auto;
  position: relative;
  top: 20px;
}
.nav-mobile span:before, .nav-mobile span:after {
  position: absolute;
  content: '';
}
.nav-mobile span, .nav-mobile span:before, .nav-mobile span:after {
  width: 30px;
  height: 4px;
  background-color: @text-color;
  display: block;
}
.nav-mobile span:before {
  margin-top: -8px;
}
.nav-mobile span:after {
  margin-top: 8px;
}
.nav-mobile span {
  transition-duration: 0s;
  transition-delay: .2s;
}
.nav-opened .nav-mobile span {
  background-color: rgba(0,0,0,0.0);
  transition-delay: .2s;
}
.nav-mobile span:before {
  transition-property: margin, transform;
  transition-duration: .2s;
  transition-delay: .2s, 0;
}
.nav-opened .nav-mobile span:before {
  background-color: #fff;
  margin-top: 0;
  transform: rotate(45deg);
  transition-delay: 0, .2s; 
}
.nav-mobile span:after {
  transition-property: margin, transform;
  transition-duration: .2s;
  transition-delay: .2s, 0;
}
.nav-opened .nav-mobile span:after {
  background-color: #fff;
  margin-top: 0;
  transform: rotate(-45deg);
  transition-delay: 0, .2s;
}
@keyframes slideIn {
  from {
    transform: translateX(-50%);
    opacity:0;
  }
  to {
    transform: translateX(0); 
    opacity:1;
  }
}
