<div class="grid-sizer"></div>

<div class="cell" ng-repeat="item in items | limitTo: limit" ng-model="items">  
  <div class="item">
      <span class="item-type">{{ item.type }}</span>
      <a href="{{ item.mainUrl }}" target="_blank" class="item-title"><h3>{{ item.title }}</h3></a>
      <ul class="item-urls">
          <li ng-repeat="url in item.otherUrls"><a href="{{ url.url }}" target="_blank"><i class="fa fa-{{ url.icon }}"></i></a></li>
      </ul>
      <ul class="item-tags">
          <li ng-repeat="tag in item.tags">{{ tag.name }}</li> 
      </ul>
  </div>  
</div>




